/**
  * Browser-specific Fixes for Microsoft Internet Explorer Version 6 and 7 (NOT 8!)
  *
  * @author          Sebastian Deutsch <sebastian.deutsch@9elements.com>
  * @version         
  *
  * @revision        $Revision$
  * @lastmodified    $Date$
  */


#nav {
	zoom: 1;
	display: inline;
}

#nav li {
	display: inline;
}

.content-view .document a {
	zoom: 1;
}

#nav li {
	display: inline;
}

.content-view .categories li {
	display: inline;
}

.content-view .category .title {
	zoom: 1; /* don't overlap with floats */
}

.button,
input.submit,
button {
	zoom: 1;
}