<div class="subnavigation clearfix">
	<div class="functions">
		<%= link_to "Newsletter", vrame_mailer_newsletters_path, :class => 'button' %>
	</div>
	
	<p class="breadcrumbs"><%= link_to "Newsletter", vrame_mailer_newsletters_path %> &raquo;</p>

  <h1>Abonnenten</h1>
</div>

<div class="table-container">
	<table class="list">
		<thead>
			<tr>
				<th>Email-Adresse</th>
				<th>Voller Name inkl. Anrede</th>
				<th>Eingetragen seit</th>
				<th>Funktionen</th>
			</tr>
		</thead>
    <tbody>
      <%= render @subscriptions %>
    </tbody>
  </table>
</div>

<%= render :partial => 'vrame/shared/pagination', :locals => { :paginatable => @subscriptions } %>