<div class="plain-page">
	<h1>Suche nach "<%=h params[:q] %>"</h1>
	
	<ol class="search-results">
		<% @documents.each do |document| %>
			<li><%= link_to h(document.title), category_path(document.category) %></li>
		<% end %>
	</ol>

	<div class="pagination">
		<%= will_paginate @documents, :prev_label => ' &laquo; Vorherige Seite', :next_label => 'Nächste Seite &raquo;' %>
	</div>
</div>