<input name="<%=h class_name %>[meta[][key]]" type="text" placeholder="Schlüssel" value="<%=h(key) if defined?(key) and key %>" />&nbsp;
<input name="<%=h class_name %>[meta[][value]]" type="text" placeholder="Wert" value="<%=h(value) if defined?(value) and value %>" />
<a href="#" class="smaller remove button invert">Entfernen</a>