<%= text_field_tag  'meta[][name]',  defined?(item) ? h(item['name']) : nil,  :placeholder => 'Name' %>
<%= type_select_tag 'meta[][type]',  defined?(item) ? item['type'] : "String" %>
<%= text_field_tag  'meta[][value]', defined?(item) ? h(item['value']) : nil, :placeholder => 'Wert' %>
<a href="#" class="smaller remove button invert">Entfernen</a>