<input name="<%=h class_name %>[meta[][name]]" type="text" placeholder="Schlüssel" value="<%=h(name) if defined?(name) and name %>" />&nbsp;
<input name="<%=h class_name %>[meta[][value]]" type="text" placeholder="Wert" value="<%=h(value) if defined?(value) and value %>" />
<a href="#" class="smaller remove button invert">Entfernen</a>