<%- if paginatable.size > paginatable.per_page -%>
<div class="pagination-container clearfix">
	<div class="left">
		<a href="?per_page=10">10</a>,
		<a href="?per_page=25">25</a>,
		<a href="?per_page=50">50</a>,
		<a href="?per_page=100">100</a>
	</div>
	<div class="right">
		<%= will_paginate paginatable %>
	</div>
</div>
<%- end -%>