<table id="schema-builder">
<thead>
	<tr>
		<th>Typ</th>
		<th>Name / Interner Schlüssel</th>
		<th>Beschreibung</th>
		<!-- <th>Erforderlich</th> -->
		<th>Aktionen</th>
	</tr>
</thead>
<tbody>
<% category.schema.each do |field| %>
	<%= render :partial => 'vrame/shared/schema_field', :locals => { :field => field } %></li>
<% end %>
</tbody>
</table>

<% content_for :schema_builder_after_form do %>
	<table style="display: none">
		<tbody id="schema-field-prototype">
			<%= render :partial => 'vrame/shared/schema_field' %>
		</tbody>
		<!--
		<tbody id="key-value-prototype">
			<%= render :partial => 'vrame/shared/key_value_item' %>
		</tbody>
		-->
	</table>
<% end %>