<% assetable = asset.assetable %>
<% if assetable %>
	<% if asset.assetable_type == 'Document' %>
		<p>
			Dokument
			<%= link_to assetable.title, [:edit, :vrame, assetable] %>
		</p>
	<% elsif asset.assetable_type == 'Collection' %>
		<% collectionable = assetable.collectionable %>
		<% if collectionable %>
			<p>
				Collection vom <%=h collectionable.class %>
				<%= link_to h(collectionable.title), [:edit, :vrame, collectionable] %>
			</p>
		<% else %>
			<p>Collection ohne Zugehörigkeit</p>
		<% end %>
	<% else %>
		<p><%= link_to "#{asset.title} #{asset.assetable_type}", "/vrame/assets/#{asset.id}" %></p>
	<% end %>
<% else %>
	<p>möglicherwese verwaist (kein Verweis von Asset auf Assetable, ggf. nur umgekehrt)</p>
<% end %>