.button,
input[type="submit"],
button {
	border: 0;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	padding: 7px 10px;
	color: #fff;
	background-color: #333;
	text-decoration: none;
	font-size: 11px;
	font-weight: bold;
	cursor: pointer;
}

.button:hover,
input[type="submit"]:hover,
button:hover {
	background: #555;
}

.invert {
	background: #f8f8f8;
	color: #444;
	border-bottom: 1px solid #d8d8d8;
	border-left: 1px solid #d8d8d8;
	border-right: 1px solid #e0e0e0;
}

.invert:hover {
	background: #eee;
}

.smaller {
	padding: 2px 5px;
}