/** 
 * Content
 *
 *
 */

#content {
	padding: 10px;
}

/** 
 * @section Subnavigation / Breadcrumb Navigation
 *
 *
 */

.subnavigation {
	margin-bottom: 7px;
}

.breadcrumbs {
	font-size: 13px;
	line-height: 1;
	margin-bottom: 10px;
}

.breadcrumbs a {
	text-decoration: none;
}

/**
 * @section Buttons
 *
 *
 */
 
.functions {
	float: right;
	clear: both;
	margin-bottom: 16px;
}

.functions .new:hover {
	background: #575757;
}

/** 
 * @section Meta field list
 *
 *
 */

#meta-fields li.meta-field:last-child {
	border-bottom: 0 none;
}

#meta-fields label {
	font-size: 1.25em;
}

/** 
 * @section Document/new and Document/edit: Gallery Lists
 *
 *
 */

#document-collections {
	max-height: 200px;
	overflow-x: hidden;
	overflow-y: auto;
	margin-bottom: 10px;
}

#document-collections li {
	margin-bottom: 0;
	border-bottom: none;
	padding-bottom: 0;
}
