/** 
 * Content-View
 *
 *
 */

/** 
 * @section Container
 *
 *
 */

.content-view {
	line-height: 20px;
	background-color: #f5f5fc;
	border-width: 1px;
	border-style: none solid none none;
	border-color: #d5d5ff;
}

.content-view a {
	text-decoration: none;
}

.content-view a img {
	border: 0 none;
}

/** 
 * @section Category list
 *
 *
 */

.content-view .categories {
	width:33%;
	float:left;
	background-color: #fff;
}

.content-view .categories a:hover {
	color: #555;
}

/** 
 * @section Single Category
 *
 *
 */

.content-view .category {
	border-right: 1px solid #d5d5ff;
}

.content-view .category:hover {
	background-color: #f8f8ff;
}

.content-view .category a {
	display: block;
	padding: 6px 0;
}

/** 
 * @section Active category
 *
 *
 */

.content-view .categories .active-category { /* Pimp my specificity to override :hover */
	border-style: solid none solid solid;
	border-color: #d5d5ff;
	border-width: 1px;
	border-radius: 15px 0 0 15px;
	-moz-border-radius: 15px 0 0 15px;
	-webkit-border-radius: 15px 0 0 15px;
	background-color: #f5f5fc;
}

.content-view .categories .active-category a { /* Pimp my specificity to override :hover */
	color: #000;
	font-weight: bold;
	padding: 5px 0;
}

/** 
 * @section Category title
 *
 *
 */

.content-view .category .title {
	overflow: hidden; /* BFC, don't overlap with floats */
}

 .content-view .category .title a {
	padding-left: 10px;
	padding-right: 10px;
}

/** 
 * @section Category controls (options + order)
 *
 *
 */

.content-view .category .options,
.content-view .category .order {
	float: right;
	margin-right: 10px;
	opacity: 0.15;
	-moz-opacity: 0.15;
	-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(opacity=15)';
}

.content-view .category .options a,
.content-view .category .order a {
	float: left;
}

.content-view .category .options img,
.content-view .category .order img {
	vertical-align: middle;
}

.content-view .active-category .options,
.content-view .active-category .order,
.content-view .category:hover .options,
.content-view .category:hover .order {
	opacity: 1;
	filter: none;
	-ms-filter: 'none';
}

/** 
 * @subsection Category options
 *
 *
 */

.content-view .category .options a {
	padding-left: 3px;
	padding-right: 3px;
}

/** 
 * @subsection Category Nesting
 *
 *
 */

.content-view .categories .level-1 .title a {
	padding-left: 15px;
}

.content-view .categories .level-2 .title a {
	padding-left: 30px;
}

.content-view .categories .level-3 .title a {
	padding-left: 45px;
}

.content-view .categories .level-4 .title a {
	padding-left: 60px;
}

.content-view .categories .level-5 .title a {
	padding-left: 65px;
}

.content-view .categories .level-6 .title a {
	padding-left: 80px;
}

/** 
 * @section Item (Document) List
 *
 *
 */

.content-view .items {
	float: left;
	width: 67%;
	border-width: 1px;
	border-style: solid none none;
	border-color: #d5d5ff;
}

.content-view .items ul {}

.content-view .items li {
	border-bottom: 1px dotted #d7d7d7;
}

.content-view .items .add-document {
	float: none;
	padding: 10px;
}

.content-view .items .add-document a {
	display: inline;
	padding: 0;
}

/** 
 * @subsection Single Item (Document)
 *
 *
 */

.content-view .document a {
	display: block;
	padding: 6px 0;
}

.content-view .document:hover {
	background: #f9f9ff;
}

.content-view .document .column {
	float: left;
}

.content-view .document .title {
	width: 300px;
}

.content-view .document .title a {
	padding-left: 15px;
	padding-right: 10px;
	color: #000;
}

.content-view .document .slug {
	width: 140px;
}

.content-view .document .image {
	width: 100px;
}

.content-view .document .image img {
	display: block;
}

.content-view .document .options {
	float: right;
	margin-right: 15px;
}

.content-view .document .options a {
	float: left;
	padding-left: 3px;
	padding-right: 3px;
}