/** 
 * Flashes
 *
 * Different types of flash messages
 */

.flash {
	padding: 15px 10px 10px 10px;
	clear: left;
}

.flash div {
	padding: 5px 20px 5px 20px;
	color: #000;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.flash .notice,
.flash .success {
	border:1px solid #070;
	background:#afa;
}

.flash .failure,
.flash .error {
	border:1px solid #700;
	background:#faa;
}