/** 
 * @section Forms
 *
 *
 */

/** 
 * @subsection Labels
 *
 *
 */

label {
	display: block;
	color: #777;
}

/** 
 * @subsection Fieldsets
 *
 *
 */

form fieldset {
	background: #e8e8e8;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	padding: 15px;
	margin-bottom: 15px;
}

/*
form fieldset div {
	margin-bottom: 10px;
}
*/

/** 
 * @subsection Headings
 *
 *
 */

form h3 {
	margin-bottom: 15px;
	font-size: 1.25em;
}

/** 
 * @subsection Lists and Paragraphs
 *
 *
 */

form li,
form p {
	margin-bottom: 10px;
}

form ul {
	list-style:none;
}

form ul > li {
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #d8d8d8;
}

form ul > li.last {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom:none;
}

form li.separator {
	border:1px solid #aaa;
}

/** 
 * @subsection Form errors
 *
 *
 */

form em {
	color:#f00;
}

/** 
 * @subsection Form field styling
 *
 *
 */

textarea,
input[type="text"],
input[type="password"] {
	border: 1px solid #aaa;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	font-family: Helvetica,Arial,sans-serif;
	font-size: 12px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus {
	border-color: #777;
	outline: none;
	
	box-shadow: 1px 1px 6px #A0A0F5;
	-moz-box-shadow: 1px 1px 6px #A0A0F5;
	-webkit-box-shadow: 1px 1px 6px #A0A0F5;
}

input[type="text"],
input[type="password"] {
	width: 350px;
	padding: 4px;
}

input[type="checkbox"],
input[type="radio"] {
	margin: 0;
	vertical-align: middle;
}

textarea {
	width: 353px;
	height: 150px;
	padding: 3px;
}

textarea.big,
input.big {
	font-size: 22px;
}