/** 
 * Header with dropdown navigation
 *
 */

/** 
 * @section Header bar
 *
 *
 */

#header-container {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 32px;
	background: #000;
	color: #fff;
	width: 100%;
}

#header-bar {
	padding: 3px 0 0 10px;
	height: 26px;
	height: 32px;
}

#header-bar a {
	color: #fff;
	text-decoration: none;
}

#header-bar li {
	float: left;
}

#header-bar li.meta {
	float: right;
	margin-top: 3px;
	margin-right: 16px;
}

#header-bar li.last {
	margin-right: 10px;
}

.logo {
	font-family: 'Helvetica Neue Light', HelveticaNeue-Light, HelveticaNeue, Helvetica, Arial, sans-serif;;
	font-size: 21px;
	font-weight: normal;
	margin: 0 32px 0 0;
	padding: 5px 0 0 0;
	color: #fff;
	display:block;
}

/** 
 * @section Ajax Loading Bar
 *
 */

#ajax-loading-bar {
	position:absolute;
	top:0px;
	left:47%;
	color:#fff;
	display:none;
}

#ajax-loading-bar img {
	padding-top:5px;
	padding-right:5px;
}

/** 
 * @section Category dropdown navigation
 *
 *
 */

/* Basic code - don't modify */
 
#nav { display: block; position: relative; }
#nav li { display: block; position: relative; float: left; }
#nav a { display: block; }
#nav ul { display: none; position: absolute; left: 0; }
* html #nav ul { line-height: 0; } /* IE6 "fix" */
#nav ul li { float: none; }
#nav ul a { zoom: 1; } /* IE6/7 fix */
#nav ul ul { top: 0; }

/* Essentials - configure this */

#nav ul { width: 180px; }
#nav ul ul { left: 180px; }

/* Everything else is theming */

#nav {
	height: 24px;
	background-color: #2b2b2b;
	margin-top: 1px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}
#nav *:hover { background-color: none; }
#nav a { color: white; font-size: 12px; padding: 6px 16px; line-height: 1; text-decoration: none; }
#nav ul a { padding: 8px 16px; }
#nav li.hover a { background-color: #2b2b2b; }
#nav ul {
	top: 22px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	box-shadow: 0 0 10px #333;
	-webkit-box-shadow: 0 0 10px #333;
	-moz-box-shadow: 0 0 10px #333;
}
#nav ul li a { background-color: #2b2b2b; }
/*#nav ul > li:last-child > a { -webkit-border-bottom-left-radius: 4px; -webkit-border-bottom-right-radius: 4px; }*/
#nav ul a.top { background: #2b2b2b url('/vrame/images/admin/arrow_right.png') 168px 9px no-repeat; }
#nav ul a.hover { background-color: #444; }
#nav > li > a {
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

/**
 * @section Tipsy
 *
 * 
 */

.tooltip { display: inline; }
.tipsy { padding: 5px; font-size: 10px; opacity: 0.9; filter: alpha(opacity=90); background-repeat: no-repeat; }
.tipsy-inner { padding: 4px 5px; background-color: black; color: white; max-width: 200px; text-align: center; -webkit-border-radius: 4px; -moz-border-radius: 4px; }
.tipsy-north { background-image: url(/vrame/images/tipsy/north.gif); background-position: top center; }
.tipsy-south { background-image: url(/vrame/images/tipsy/south.gif); background-position: bottom center; }
.tipsy-east { background-image: url(/vrame/images/tipsy/east.gif); background-position: right center; }
.tipsy-west { background-image: url(/vrame/images/tipsy/west.gif); background-position: left center; }