/**
 * Main Stylesheet
 *
 */

/** 
 * @section Classes for Quick Layouting
 *
 */

.clearfix {display:inline-block;}
.clearfix:after {content:".";display:block;height:0;clear:both;visibility:hidden;}
* html .clearfix {height:1%;}
.clearfix {display:block;}

.hide {
	display:none;
}

.left {
	float:left;
}

.right {
	float:right;
}

/** 
 * @section Body
 *
 *
 */

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	letter-spacing: normal;
	line-height: 1.45em;
/*	background: #fff url(/vrame/images/admin/body-bg.png) left top repeat-x;*/
}

/** 
 * @section Headings
 *
 *
 */

h1, h2, h3, h4, h5, h6 {
	color: #111;
}

h1, h2 {
	margin-bottom: 15px;
	font-size: 24px;
	letter-spacing: -1px;
	line-height: 1;
}

h2 {
	font-size: 22px;
}


a {
	color:#777;
}

/** 
 * @section Main Layout
 *
 *
 */

.page-align {
	width:100%;
	margin: 0 auto 0 auto;
}

.page-spacer {
	margin-top:32px;
}