@charset "utf-8";

/**
 * 
 *
 * @section		screen
 * @author		Sebastian Deutsch
 * @version		1.0
 * @copyright	9elements.com
 * @media		screen
 *
 * @colordef	black		#000000
 * @colordef	white		#ffffff
 *
 */

/** 
 * @section Classes for Quick Layouting
 *
 */

.clearfix {display:inline-block;}
.clearfix:after {content:".";display:block;height:0;clear:both;visibility:hidden;}
* html .clearfix {height:1%;}
.clearfix {display:block;}

.hide {
	display:none;
}

.left {
	float:left;
}

.right {
	float:right;
}

/** 
 * @section HTML Styles
 *
 * Definitions for HTML entities
 */

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	letter-spacing: normal;
	line-height: 1.45em;
/*	background: #fff url(/vrame/images/admin/body-bg.png) left top repeat-x;*/
}

a {
	color:#777;
}

h1, h2, h3, h4, h5, h6 {
	color: #111;
}

h1, h2 {
	margin-bottom: 15px;
	font-size: 24px;
	letter-spacing: -1px;
	line-height: 1;
}

h2 {
	font-size: 22px;
}

/** 
 * @section Main Layout
 *
 *
 */

.page-align {
	width:973px;
	margin: 32px auto 0 auto;
}

/** 
 * @section Header
 *
 *
 */
 
#header {
	height:63px;
	margin-bottom: 15px;
}

.breadcrumbs {
	font-size: 13px;
	line-height: 1;
	margin-bottom: 10px;
}

.breadcrumbs a {
    text-decoration: none;
}

.subnavigation {
    margin-bottom: 7px;
}

/** 
 * @subsection User Section
 *
 *
 */
 
#header-user {
	float: right;
	padding: 20px 10px 0 0;
}

#header-user li {
    float: left;
	padding-left: 25px;
}

/** 
 * @subsection Site Title
 *
 *
 */

#header h1 {
	float: left;
	padding: 15px 0;
	font-size: 25px;
	letter-spacing: -1px;
	line-height: 1.2em;
	color: #000;
}

#header h1 a {
	text-decoration:none;
}

/** 
 * @subsection Header bar
 *
 *
 */

#header-container {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 32px;
    background: #000;
    color: #fff;
    width: 100%;
}

#header-bar {
    padding: 3px 0 0 0;
    height: 26px;
    height: 32px;
}

#header-bar a {
    color: #fff;
    text-decoration: none;
}

#header-bar li {
    float: left;
}

#header-bar li.meta {
    float: right;
    margin-top: 3px;
    margin-right: 16px;
}

.logo {
    font-family: 'Helvetica Neue Light', HelveticaNeue-Light, HelveticaNeue, Helvetica, Arial, sans-serif;;
    font-size: 18px;
    font-weight: normal;
    margin: 0 32px;
    color: #fff;
}

/** 
 * @subsection Category navigation
 *
 *
 */

/* Basic code - don't modify */
 
#nav { display: block; position: relative; }
#nav li { display: block; position: relative; float: left; }
#nav a { display: block; }
#nav ul { display: none; position: absolute; left: 0; }
* html #nav ul { line-height: 0; } /* IE6 "fix" */
#nav ul li { float: none; }
#nav ul a { zoom: 1; } /* IE6/7 fix */
#nav ul ul { top: 0; }

/* Essentials - configure this */

#nav ul { width: 180px; }
#nav ul ul { left: 180px; }

/* Everything else is theming */

#nav {
	height: 24px;
	background-color: #2b2b2b;
	margin-top: 1px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}
#nav *:hover { background-color: none; }
#nav a { color: white; font-size: 12px; padding: 6px 16px; line-height: 1; text-decoration: none; }
#nav ul a { padding: 8px 16px; }
#nav li.hover a { background-color: #2b2b2b; }
#nav ul {
	top: 22px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	box-shadow: 0 0 10px #333;
	-webkit-box-shadow: 0 0 10px #333;
	-moz-box-shadow: 0 0 10px #333;
}
#nav ul li a { background-color: #2b2b2b; }
/*#nav ul > li:last-child > a { -webkit-border-bottom-left-radius: 4px; -webkit-border-bottom-right-radius: 4px; }*/
#nav ul a.top { background: #2b2b2b url('/vrame/images/admin/arrow_right.png') 168px 9px no-repeat; }
#nav ul a.hover { background-color: #444; }
#nav > li > a {
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

/** 
 * @section Flash
 *
 * Different types of flash messages
 */

.flash {
	padding: 15px 0 10px 0;
	clear: left;
}

.flash div {
	padding: 5px 20px 5px 20px;
	color: #000;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.flash .notice,
.flash .success {
	border:1px solid #070;
	background:#afa;
}

.flash .failure,
.flash .error {
	border:1px solid #700;
	background:#faa;
}

/** 
 * @section Content
 *
 * Description.
 */

#content {
	padding: 15px 0;
}

/**
 * @section Buttons
 *
 * Description.
 */
 
.functions {
    float: right;
    clear: both;
    margin-bottom: 16px;
}

/*.functions .new {
    display: block;
    float: right;
    margin-left: 10px;
    text-decoration: none;
    
    background: #333;
    color: #fff;
    
    font-family: 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif;;
    font-size: 16px;
    font-weight: normal;
    
    padding: 8px 14px;
    -webkit-border-radius: 8px;
}*/

.functions .new:hover {
    background: #575757;
}

/** 
 * @section Tablelist
 *
 * Description.
 */

.table-container {
	margin-bottom: 10px;
	border: 1px solid #777;
	padding: 1px;
}

table.list {
	width: 100%;
}

table.list tr {
}

table.list thead th {
	color: #aaa;
	background-color: #575757;
	padding: 3px 5px 3px 5px;
	font-weight:bold;
	font: bold 11px Arial;
	border-bottom: 2px solid #3c3c3c;
}

table.list tbody td {
	color:#000;
	padding: 3px 5px 3px 5px;
}

table.list tbody tr.even td {
	background-color: #f7f7f7;
}

table.list tbody tr.odd td {
	background-color: #fff;
}

table.list tbody tr:hover td {
  background-color: #eaeaff;
}

table.list td.slug,
table.list td.options {
	font-size: 13px;
}

#category-list td.options {
	width: 360px;
}

#category-list td.order,
#document-list td.order {
	width: 40px;
}

table.list .options {}

table.list .options a {
	margin-right: 13px;
	padding-left: 23px;
	background-repeat: no-repeat;
	background-position: left center;
	white-space: nowrap;
}

table.list a.edit {
	background-image: url(/vrame/images/admin/edit.png)
}

table.list a.delete {
	background-image: url(/vrame/images/admin/delete.png)
}

table.list a.add {
	background-image: url(/vrame/images/admin/add.png)
}

table.list a.list {
	display: block;
	margin-bottom: 5px;
	background-image: url(/vrame/images/admin/magnifier.png)
}

table.list a.send_preview {
	background-image: url(/vrame/images/admin/email_go.png)
}

table.list a.send_to_all {
	background-image: url(/vrame/images/admin/group_go.png)
}

table.list a.time {
	background-image: url(/vrame/images/admin/time.png)
}

td.title a {
    color: #000;
    text-decoration: none;
}

table.list .nesting-level-1 td.title {
	padding-left: 15px;
}

table.list .nesting-level-2 td.title {
	padding-left: 30px;
}

table.list .nesting-level-3 td.title {
	padding-left: 45px;
}

table.list .nesting-level-4 td.title {
	padding-left: 60px;
}

table.list .nesting-level-5 td.title {
	padding-left: 65px;
}

table.list .nesting-level-6 td.title {
	padding-left: 80px;
}

.pagination-container {
	width:100%;
	overflow:hidden;
	margin-top:3px;
	height:18px;
	text-align:right;
}

/** 
 * @section Forms
 *
 * Description.
 */

label {
	display: block;
	color: #777;
}

form fieldset {
	background: #e8e8e8;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	padding: 15px;
	margin-bottom: 15px;
}

form fieldset ol li {
	margin-bottom: 10px;
}

form fieldset div {
	margin-bottom: 10px;
}

form h3 {
	margin-bottom: 15px;
	font-size: 1.25em;
}

form p {
	margin-bottom: 10px;
}

form ul {
	list-style:none;
}

form ul > li {
	margin-bottom: 5px;
	padding-bottom: 5px;
    border-bottom: 1px solid #d8d8d8;
}

form ul > li.last {
    margin-bottom: 0;
    padding-bottom: 0;
	border-bottom:none;
}

form li.separator {
	border:1px solid #aaa;
}

form em {
	color:#f00;
}

input[type="text"],
input[type="password"] {
	width: 350px;
	padding: 4px;
}

textarea,
input[type="text"],
input[type="password"] {
	border: 1px solid #aaa;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

textarea {
	width:353px;
	height:150px;
	padding:3px;
}

textarea.big,
input.big {
    font-size: 22px;
}

.button,
input[type="submit"],
button {
	background: #333;
	color: #fff;
	border: 0;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	padding: 7px 10px;
	text-decoration: none;
	font-size: 11px;
	font-weight: bold;
	cursor: pointer;
}

.button:hover,
input[type="submit"]:hover,
button:hover {
    background: #555;
}

.invert {
    background: #f8f8f8;
    color: #444;
    border-bottom: 1px solid #d8d8d8;
    border-left: 1px solid #d8d8d8;
    border-right: 1px solid #e0e0e0;
}

.invert:hover {
    background: #eee;
}

.smaller {
    padding: 2px 5px;
}

/** 
 * @section File Upload 
 *
 *
 */

input.asset-id, input.collection-id {
	display: none;
	width: 45px;
	vertical-align: top;
}

 /** 
 * @section Asset Lists
 *
 *
 */

.asset-list {
	overflow: hidden;
}

.asset-list li {
	float: left;
	position: relative;
	
	margin: 0 10px 10px 0;
/*  border: 1px solid #aaa;*/
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	padding: 5px 5px 5px 5px;
	background: #fff;
	
	width: 100px;
	min-height: 165px;
}

.asset-list .image-wrapper {
	display: table-cell;
	
	width: 100px;
	height: 140px;
	
	overflow: hidden;
	vertical-align: middle;
	
	cursor: pointer;
}

.asset-list .controls {
	padding-top: 5px;
	clear: both;
}

.asset-list .edit {
	float: left;
}

.asset-list .delete {
	float: right;
}

.asset-list img {
	display: block;
	margin: auto;
}

#asset-fullview {
	position: absolute;
	top: 0;
	left: -9999px;
	z-index: 100;
	cursor: pointer;
	border: 1px solid #888;
	box-shadow: 1px 1px 5px white;
	-moz-box-shadow: 1px 1px 5px white;
	-webkit-box-shadow: 1px 1px 5px white;
}

/** 
 * @section Document/new and Document/edit: Gallery Lists
 *
 *
 */

#document-collections {
	max-height: 200px;
	overflow-x: hidden;
	overflow-y: auto;
	margin-bottom: 10px;
}

#document-collections li {
	margin-bottom: 0;
	border-bottom: none;
	padding-bottom: 0;
}

/**
 * @section Tipsy
 *
 * Description.
 */

.tooltip { display: inline; }
.tipsy { padding: 5px; font-size: 10px; opacity: 0.9; filter: alpha(opacity=90); background-repeat: no-repeat; }
.tipsy-inner { padding: 4px 5px; background-color: black; color: white; max-width: 200px; text-align: center; -webkit-border-radius: 4px; -moz-border-radius: 4px; }
.tipsy-north { background-image: url(/vrame/images/tipsy/north.gif); background-position: top center; }
.tipsy-south { background-image: url(/vrame/images/tipsy/south.gif); background-position: bottom center; }
.tipsy-east { background-image: url(/vrame/images/tipsy/east.gif); background-position: right center; }
.tipsy-west { background-image: url(/vrame/images/tipsy/west.gif); background-position: left center; }