/** 
 * @section Category schema builder
 *
 *
 */

/** 
 * @subsection Fields
 *
 *
 */

#schema-builder {
	border-top: 1px solid #ccc;
}

#schema-builder .schema-field {
	border-bottom: 1px solid #ccc;
	padding: 10px;
}

#schema-builder p {
	margin-bottom: 5px;
}

/** 
 * @subsection Main field options
 *
 *
 */

#schema-builder .visible-field-type {
	float: left;
	width: 80px;
}

#schema-builder p.title {
	float: left;
	padding-right: 20px;
}

#schema-builder p.actions {
	float: left;
}

/** 
 * @subsection Additional field options
 *
 *
 */

#schema-builder .toggle-additional {
	margin: 5px 0 5px 80px;
	font-size: 0.8em;
}

#schema-builder .additional {
	margin-left: 80px;
	xdisplay: none;
}

#schema-builder p.name,
#schema-builder p.description,
#schema-builder p.required {
	padding-top: 10px;
}

/** 
 * @subsection Form fields
 *
 *
 */

#schema-builder input.title,
#schema-builder input.name,
#schema-builder textarea.description {
	width: 220px;
}

#schema-builder textarea.description {
	margin: 0;
	height: 46px;
}

/**
 * @subsection Field options
 *
 * 
 */
 
#schema-builder .field-options li {
	float: left;
	margin: 0 25px 10px 0;
	padding: 0;
	border: 0 none;
}

#schema-builder .field-options h3 {
	margin: 0 0 5px;
	font-size: 1.1em;
}

#schema-builder .field-options p {
	margin-bottom: 5px;
	clear: left;
}

#schema-builder .field-options label span {
	display: inline-block;
	width: 90px;
}

#schema-builder .field-options input {
	width: 115px;
	font-size: 12px;
}

/**
 * @subsection Select options
 *
 * 
 */

#schema-builder .multiselect-options ul {
	list-style-type: decimal;
	list-style-position: inside;
}

/** 
 * @subsection Add a new field
 *
 *
 */

#schema-builder-add-field {
	margin-top: 20px;
	height: 25px;
}

#schema-builder-add-field p {
	float: left;
	margin-right: 15px;
}

/** 
 * @subsection Prototypes for fields and field options
 *
 *
 */

#schema-builder-prototypes {
	/*
	display: none;
	*/
	opacity: 0.3;
}