/** 
 * @subsection Navigation and Subnavigation
 *
 *
 */

#main-navigation,
#sub-navigation {
	clear: left;
	font: 12px Verdana,Arial,sans-serif;
	color: #666;
}

#main-navigation {
	margin-top: 30px;
	overflow: hidden;
}

#sub-navigation {
	float: left;
	border: 1px solid #e5d0d0;
	position: relative;
	top: -1px;
	background-color: #fffdfd;
}

/** 
 * @subsection Navigation List Items
 *
 *
 */

#main-navigation li,
#sub-navigation li {
	float: left;
}

/** 
 * @subsection Navigation Links
 *
 *
 */

#main-navigation a,
#sub-navigation a {
	display: block;
	color: inherit;
	padding: 7px 15px;
	text-align: center;
	text-decoration: none;
	outline: none;
	min-width: 60px;
}

#main-navigation a {
	border-width: 1px;
	border-style: none none none solid;
	border-color: #eee;
}

/** 
 * @subsection Item Highlighting Logic
 *
 *
 */
 
#main-navigation a:hover,
#main-navigation a:active,
#main-navigation a:focus {
	color: #333;
	background-color: #fafafa;
}

#sub-navigation a:hover,
#sub-navigation a:active,
#sub-navigation a:focus {
	color: #633;
	background-color: #fffafa;
}

/** 
 * @subsection Active Item Logic
 *
 *
 */

#main-navigation li.active a {
	border-style: solid solid none;
	border-color: #e5d0d0;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	position: relative;
	z-index: 1;
	color: #700;
	background-color: #fffdfd;
}

#main-navigation li:first-child a ,
#main-navigation li.active + li a {
	border-left-style: none;
}

#sub-navigation li.active a {
	color: #700;
	background-color: #fffafa;
}