/** 
 * Upload Form
 *
 *
 */

/** 
 * @section asset / Collection ID fields (usually hidden)
 *
 *
 */

input.asset-id, input.collection-id {
	display: none;
	width: 45px;
	vertical-align: top;
}

/** 
 * @section Upload Button Placeholder
 *
 *
 */

.upload-button {
	width: 70px;
	height: 32px;
}

/** 
 * @section Flash Upload Queue
 *
 *
 */

.upload-queue {
	margin: 10px 0;
	width: 450px;
	max-height: 200px;
	overflow-x: hidden;
	overflow-y: auto;
}

.upload-queue li {
	margin-bottom: 0;
}

.progressWrapper {
	margin: 0;
}

.progressContainer {
	border-bottom: 1px dotted #d0d0d0;
	margin-bottom: 0;
	position: relative;
	overflow: hidden;
}

.progressName {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	padding-left: 10px;
	line-height: 1.6;
}

.progressStatus {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	padding-right: 10px;
	line-height: 1.6;
}

.progressBar {
	width: 0;
	height: 20px;
	margin-bottom: 0;
}

.progressUploading .progressBar {
	background-color: #ccf;
}

.progressComplete .progressBar {
	width: 100%;
	background-color: #e6ffe6;
}

.progressBar .progressError {
	width: 100%;
	background-color: #fdd;
}