<%= render :partial => 'admin/shared/breadcrumbs', :locals => { :breadcrumbs => @breadcrumbs } %>

<h2>Neues Dokument</h2>

<%= render :partial => 'form', :locals => { :category => @category, :document => @document } %>
