<p>Sehr geehrte<%= (@recipient.salutation == 'Herr') ? 'r' : '' %> <%= @recipient.salutation %> <%= @recipient.first_name %> <%= @recipient.last_name %>,</p>

<p>ihre E-Mail Adresse wurde erfolgreich aus dem Aoste-Newsletter entfernt.</p>

<p>Mit freundlichen Grüßen,</p>

<p>Das Aoste-Team</p>