<% field = nil unless defined?(field) %>

<tr class="field-options <%= 'multi' if field.is_a?(JsonObject::Types::MultiSelect) %>select-fields">
	<td></td>
	<td colspan="4">
		
		<h3>Felder für <%= field.is_a?(JsonObject::Types::MultiSelect) ? 'Mehrfachauswahl' : 'Auswahl' %></h3>
		
		<ul>
		<% for option in (field.try(:options) || Array.new(4)) %>
			<% option ||= '' %>
			<li><input type="text" name="category[schema][][options][]" value="<%=h option %>" /></li>
		<% end %>
		</ul>
		
		<p><a href="javascript:void(0)" class="smaller button invert add-select-field">Feld hinzufügen</a></p>
		
	</td>
</tr>