<tr class="field-options <%= 'multi' if type == 'MultiSelect' %>select-fields">
	<td></td>
	<td colspan="4">
		
		<h3>Felder für  <%= type == 'MultiSelect' ? 'Mehrfachauswahl' : 'Auswahl' %></h3>
		
		<ul>
		<% options = defined?(field) ? field.options : Array.new(4) %>
		<% for option in options %>
			<% option ||= '' %>
			<li><input type="text" name="category[schema][][options][]" value="<%=h option %>" /></li>
		<% end %>
		</ul>
		
		<p><a href="javascript:void(0)" class="smaller button invert add-select-field">Feld hinzufügen</a></p>
		
	</td>
</tr>